#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    opacity: 0.5;
    z-index: 100;
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    width: 3rem;
    height: 3rem;
    z-index: 200;
}

.orderTop {
    background: url("../image/wavyLines.png") bottom no-repeat;
    margin-bottom: 1.5rem;
}
.orderTitle {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
}
.orderPrice {
    display: block;
    font-size: 0.9rem;
    text-align: center;
}
.orderTop div {
    padding: 0.75rem 0.5rem 0.75rem;
    overflow: hidden;
}
.orderTop div span:first-child {
    float: left;
    color: #7e7e7e;
}
.orderTop div span:last-child {
    float: right;
}
.submitBut {
    font-size: 1rem;
    color: #FFFFFF;
    background: #ff5258;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 4rem 1rem;
}
.MethodPay {
    padding: 0.75rem 1rem;
}
.MethodPay span:first-child{
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
}
.MethodPay span {
    line-height: 1.2rem;
}
.MethodPay span:last-child  {
    float: right;
    width: 1rem;
    height: 1rem;
}