<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>登陆</title>
    <link rel="stylesheet" href="../login/login.css">
<body ng-controller="loginCon">
    <div class="loginBox">
        <p class="loginText">登录桂林出行网</p>
        <div class="phone">
            <span>手机号</span>
            <input type="text" placeholder="输入手机号" ng-blur="phoneInput()" ng-model="phoneNum">
        </div>
        <div class="tisi phoneError" ng-show="phoneError">{{ phoneErrortext }}</div>
        <div class="phone">
            <span>验证码</span>
            <input type="text" placeholder="输入验证码" ng-blur="codeInput()" ng-model="codeNum" maxlength="6">
            <button  class="code" ng-click="getTestCode()" ng-bind="description" ng-disabled="canClick"></button>
        </div>
        <div class="tisi phoneError" ng-show="codeError">{{ codeErrortext }}</div>
        <button class="loginBtn mar" ng-click="codeloginBtn()">登录</button>

        <!--<p class="register">点击注册,即代表您已阅读并同意<span>《桂林出行网服务条款》</span></p>-->
    </div>
<!-- JS 框架引入 -->
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/angularJS/angular.js"></script>
<script src="../../lib/MD5.js"></script>

<script src="../login/login.js"></script>
</body>
</html>